<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Zusammenleben Willkommen Berlin</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
</head>

<body>
    <img id="userPhoto" src="https://i.postimg.cc/pLD4dJkD/Profilbild.png" alt="User Photo">
    
    <a href="https://www.instagram.com/zusammenlebenwillkommen_berlin/?igshid=fw43hhczckjp" id="userName">@zusammenlebenwillkommen_berlin</a>
    <div id="links">
        <a class="link" href="https://www.instagram.com/zusammenlebenwillkommen/guide/wg-beratung-mit-salma/17878043089911995/</a>
        <a class="link" href="https://www.facebook.com/watch/789516854422799/740240513502607/</a>
        <a class="link" href="hhttps://www.youtube.com/playlist?list=PLabBletKBo0PelqYN5wdjW7jgctCll6Lh/</a>
    </div>

    <!-- Javascript -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script  src="index.js"></script>
</body>
</html>
